.searchBar {
  background-color: #faf4e8;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 5px 10px 10px black;
          box-shadow: 5px 10px 10px black;
}

.inputTab {
  height: 5vh;
  font-size: 2vw;
  color: #212b35;
  width: 50vw;
  outline: none;
  -webkit-box-shadow: 10px 10px 10px black;
          box-shadow: 10px 10px 10px black;
}

.formForm {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.websiteLogo {
  font-size: 5vw;
  text-shadow: 2px 2px 2px black;
  color: #212b35;
  cursor: pointer;
}

.animeBlock {
  height: 50vh;
  width: 16.5vw;
  border-radius: 15px;
  font-size: 1.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  border-radius: 15px;
  background-color: #2a353c;
  height: 80%;
  cursor: pointer;
  width: 80%;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.container:hover {
  height: 95%;
  width: 95%;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
}

.animePoster {
  height: 85%;
  background-position: center;
  background-size: cover;
}

.animeTitle {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.Lit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.heading {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vw;
  color: white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
  cursor: default;
}

.animeCoverPhoto {
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 40vh;
  background-color: #ed3a53;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
}

.fullAnimeInfooo {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faiPoster {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faiPostercontainer {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 5px 10px 10px black;
          box-shadow: 5px 10px 10px black;
  background-color: white;
  height: 26vw;
  width: 18vw;
  background-size: cover;
  background-position: center;
}

.faiSummary {
  width: 45%;
  height: 85%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.1vw;
}

.fsTitle {
  font-size: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 5px 5px 10px black;
  cursor: pointer;
  text-align: center;
}

.fsagerating {
  color: red;
  font-weight: 100;
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fsRating {
  color: #53bc9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vw;
}

.fsSummary {
  text-align: center;
}

.faiAbout {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.faiAboutContainer {
  height: 90%;
  width: 95%;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -5px 10px 10px black;
          box-shadow: -5px 10px 10px black;
}

.fac {
  font-size: 1.3vw;
}

.facs {
  font-size: 2vw;
  font-weight: bolder;
}

.backButton {
  height: 5vw;
  width: 5vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.backButton:hover {
  background-color: black;
}

.backButton:hover div {
  border-color: white;
}

.bbt {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  height: 40%;
  width: 40%;
  border-color: black;
  border-width: 0.3vw 0 0 0.3vw;
  border-style: solid;
  -webkit-transform: translateX(20%) rotate(-45deg);
          transform: translateX(20%) rotate(-45deg);
}

@media screen and (max-width: 1000px) {
  .Lit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .animeBlock {
    height: 50vh;
    width: 33vw;
  }
}
/*# sourceMappingURL=anime.css.map */